name: Build Android APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Install Dependencies
        run: npm install
      - name: Build APK
        run: |
          npx cap sync
          cd android && ./gradlew assembleDebug
      - name: Upload APK
        uses: actions/upload-artifact@v3
        with:
          name: MediaFlow-Pro-App
          path: android/app/build/outputs/apk/debug/app-debug.apk
